<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Character Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Character Details</h1>
<a href="/characterList">Back</a>
<a href="/addCharacter">Add Character</a>
<br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job</th>
                <th>Hp</th>
                <th>Option</th>
            </tr>
            <tr>
                <td th:utext="${Character.id}">...</td>
                <td th:utext="${Character.nom}">...</td>
                <td th:utext="${Character.job}">...</td>
                <td th:utext="${Character.hp}">...</td>
                <td>
                    <form th:action="@{/characterDetails/{id}(id=${Character.id})}" th:method="delete">
                        <input type="submit" value="Delete" />
                        <br/><br/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
<br/><br/>
    <div>
        <form th:action="@{/addCharacter}"
              th:object="${characterForm}" method="POST">
            <div>
                <input type="hidden" th:field="${Character.id}"/>
                <label>Nom:</label>
                <input type="text" th:field="${Character.nom}"/>
                <br/><br/>
                <label>Job:</label>
                <input type="text" th:field="${Character.job}"/>
                <br/><br/>
                <label>Hp :</label>
                <input type="text" th:field="${Character.hp}"/>
                <br/><br/>
                <input type="submit" value="Modify" />
            </div>
        </form>
    </div>
</body>
</html>